.footer-content {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #708797
}

@media(min-width: 576px) {
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}