<footer class="p-4">    
    <div class="container p-0">
        <div class="row justify-content-center footer-content">
            
                <div class="col-auto me-md-3 text-center p-0 mb-3 mb-md-0">
                    <fa-icon [icon]="faLock" class="fa-lg"></fa-icon>
                </div>
                <div class="col-auto m-0 p-0 text-center">
                    <span>Your financial information is encrypted and secure. We'll never share or sell any of your personal data.</span>
                </div>
            
        </div>
    </div>    
</footer>
  