body{
    background: #F4F8FA !important;
}
@font-face {
    font-family: 'Work Sans';
    src: url('../src/assets/fonts/WorkSans-Regular.ttf');
}
@font-face {
    font-family: 'Rubik';
    src: url('../src/assets/fonts/Rubik-Regular.ttf');
}
.container{
    padding-top: 124px;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}